.app { 
	position: relative;
	
}


.editor-wrapper { 
	cursor: pointer;

}

.editor-wrapper canvas {
	position: absolute;
	top:0;
	left:0;
}

img#preview {
	border:1px solid #ccc;
}

.tools { 
	position: absolute;
	top:0;
	right:0;
	width:100px;
	background: #eee;
}

#current-color { 
	width:30px;
	height: 30px;
	border:1px solid #777;

}