.app { 
	position: relative;
	width: 800px;
	overflow: auto;
	height: 600px
}


.editor-wrapper { 
	

}

.editor-wrapper canvas {
	position: absolute;
	top:0;
	left:0;
}


.tools { 
	position: absolute;
	top:0;
	right:0;
	width:100px;
	background: #eee;
}

#current-color { 
	width:30px;
	height: 30px;
	border:1px solid #777;

}